<ion-header mode="md">
  <ion-toolbar color="secondary">
    <ion-buttons>
      <ion-button (click)="onClickBack()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
      <ion-title>Gestor de treinos</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content mode="md">
  <br />
  <ion-item-divider>
    <ion-title color="primary">DADOS</ion-title>
  </ion-item-divider>
  <ion-card mode="ios" *ngIf="aluno != null && diaTreino != null">
    <ion-card-content>
      <ion-card-title>{{ diaTreino.dia }}</ion-card-title>
      <ion-label>
        <p><strong>Aluno: {{ aluno.nome }}</strong></p>
        <p><strong>Ênfase:</strong> {{ diaTreino.enfase }}</p>
        <p><strong>Observações:</strong> {{ diaTreino.obs }}</p>
      </ion-label>
    </ion-card-content>
    <ion-card-content>
      <ion-button
        (click)="onClickEdit()"
        *ngIf="aluno?.id != null && blockEdit == true"
        [disabled]="!form.valid"
      >
        <ion-label color="light">Editar</ion-label>
      </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card mode="ios" *ngIf="diaTreino == null || blockEdit == false">
    <ion-card-content>
      <form [formGroup]="form">
        <ion-item [disabled]="blockEdit">
          <ion-select
            formControlName="dia"
            mode="md"
            label="Dia do treino"
            placeholder="Selecionar"
            cancelText="Cancelar"
            okText="Confirmar"
          >
            <ion-select-option *ngFor="let item of listDiaTreino"
              >{{ item?.nome }}</ion-select-option
            >
          </ion-select>
        </ion-item>
        <br />
        <ion-item [disabled]="blockEdit">
          <ion-select
            formControlName="enfase"
            mode="md"
            label="Ênfase"
            placeholder="Selecionar"
            multiple="true"
            cancelText="Cancelar"
            okText="Confirmar"
          >
            <ion-select-option *ngFor="let item of listEnfase"
              >{{ item?.titulo }}</ion-select-option
            >
          </ion-select>
        </ion-item>
        <br />
        <ion-item [disabled]="blockEdit">
          <ion-textarea
            formControlName="obs"
            label="Observações"
            labelPlacement="stacked"
            placeholder="Opcional..."
            minlength="0"
            maxlength="500"
          ></ion-textarea>
        </ion-item>
        <br />
      </form>
    </ion-card-content>
    <ion-card-content>
      <ion-row>
        <ion-button
          *ngIf="blockEdit == false || !form.controls['id'].valid"
          (click)="onClickSave()"
          [disabled]="!form.valid"
        >
          <ion-label color="light">Salvar</ion-label>
        </ion-button>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <br />
  <ion-item-divider>
    <ion-title color="primary">EXERCÍCIOS</ion-title>
  </ion-item-divider>

  <ion-list>
    <ion-accordion-group>
      <ion-accordion *ngFor="let item of listExercicios">
        <ion-item slot="header">
          <ion-label>
            <p>
              <ion-title color="dark" style="padding-left: 0"
                >{{ item?.nome }}</ion-title
              >
              <br />
              <ion-label color="dark">Ênfase: {{ item?.enfase }}</ion-label>
              <ion-label color="primary"
                >{{ item?.series }} séries de {{ item?.repeticoes }}
                repetições.</ion-label
              >
              <ion-label>Ênfase: {{ item?.obs }}</ion-label>
            </p>
          </ion-label>
        </ion-item>
        <ion-item slot="content">
          <ion-button
            slot="start"
            (click)="onClickEditarExercicio(item)"
            shape="round"
          >
            <ion-label color="light">Gerenciar exercícios</ion-label>
          </ion-button>
          <ion-button
            slot="end"
            (click)="onClickExcluirExercicio(item)"
            shape="round"
          >
            <ion-label color="light">Excluir</ion-label>
          </ion-button>
        </ion-item>
      </ion-accordion>
    </ion-accordion-group>
    <app-skeleton-list
      *ngIf="!listExercicios.length"
      [image]="'vetor_lista_vazia.svg'"
    ></app-skeleton-list>
  </ion-list>
  <br />
  <br />
  <br />
  <app-animation-list *ngIf="listExercicios.length"></app-animation-list>
  <ion-fab
    *ngIf="aluno != null && diaTreino != null"
    slot="fixed"
    vertical="bottom"
    horizontal="end"
  >
    <ion-fab-button (click)="onClickCadastroExercicio()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
