.container-label {
    text-align: center;
    padding-top: 15%;
    padding-bottom: 15%;
}

ion-spinner {
    text-align: center;
    left: 0;
    right: 0;
}

.animation {
    max-width: 250px;
}

.label {
    padding-left: 10%;
    padding-right: 10%;
}