<ion-header mode="md">
  <ion-toolbar color="secondary">
    <ion-buttons>
      <img class="logo" src="assets/images/logo.png" />
      <ion-button (click)="onClickExit()">
        <ion-icon slot="icon-only" name="exit-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section>
    <br />
    <ion-item-divider>
      <ion-title color="dark">Alunos</ion-title>
    </ion-item-divider>
    <br />
    <ion-list>
      <ion-accordion-group>
        <ion-accordion *ngFor="let item of listAlunos">
          <ion-item slot="header">
            <ion-label>
              <p>
                <ion-title color="dark" style="padding-left: 0"
                  >{{ (item.nome.length > 35 ? item.nome.substring(0, 35)+ '...'
                  : item.nome) }}</ion-title
                >
                <br />
                <ion-label>Academia: {{ item.academia }}</ion-label>
              </p>
            </ion-label>
          </ion-item>
          <ion-item slot="content">
            <ion-button slot="start" (click)="onClickEdit(item)" shape="round">
              <ion-label color="light">Gerenciar treino</ion-label>
            </ion-button>
            <ion-button slot="end" (click)="onClickRemove(item)" shape="round">
              <ion-label color="light">Excluir</ion-label>
            </ion-button>
          </ion-item>
        </ion-accordion>
      </ion-accordion-group>
      <app-skeleton-list
        *ngIf="!listAlunos.length"
        [image]="'vetor_lista_vazia.svg'"
      ></app-skeleton-list>
    </ion-list>
  </section>
  <br />
  <br />
  <br />
  <app-animation-list *ngIf="listAlunos.length"></app-animation-list>
  <ion-fab
    slot="fixed"
    vertical="bottom"
    horizontal="end"
  >
    <ion-fab-button (click)="onClickNew()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
