<ion-header mode="md">
  <ion-toolbar color="secondary">
    <ion-buttons>
      <ion-button (click)="onClickBack()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
      <ion-title></ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content mode="md">
  <br />
  <ion-item-divider>
    <ion-title color="primary">DADOS</ion-title>
  </ion-item-divider>
  <ion-card mode="ios" *ngIf="aluno != null && diaTreino != null">
    <ion-card-content>
      <ion-card-title>{{ diaTreino.dia }}</ion-card-title>
      <ion-label>
        <p><strong>Aluno:</strong> {{ aluno.nome }}</p>
        <p><strong>Doenças crônicas:</strong> {{ aluno.doencas }}</p>
        <p><strong>Objetivo:</strong> {{ aluno.objetivo }}</p>
        <p><strong>Nível:</strong> {{ aluno.nivel }}</p>
      </ion-label>
    </ion-card-content>
    <ion-card-content *ngIf="exercicio != null">
      <ion-card-title>{{ exercicio.nome }}</ion-card-title>
      <ion-label>
        <p>Ênfase: {{ exercicio.enfase }}</p>
        <p>Séries: {{ exercicio.series }}</p>
        <p>Repetições: {{ exercicio.repeticoes }}</p>
        <p>Obs: {{ exercicio.obs }}</p>
      </ion-label>
    </ion-card-content>
    <ion-card-content>
      <ion-button
        (click)="onClickEdit()"
        *ngIf="aluno?.id != null && blockEdit == true"
        [disabled]="!form.valid"
      >
        <ion-label color="light">Editar</ion-label>
      </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card mode="ios" *ngIf="exercicio == null || blockEdit == false">
    <ion-card-content>
      <form [formGroup]="form">
        <ion-item [disabled]="blockEdit">
          <ion-input
            formControlName="nome"
            label="Nome do exercicio"
            labelPlacement="stacked"
            placeholder="Digite o nome"
            minlength="3"
            maxlength="100"
          ></ion-input>
        </ion-item>
        <br />
        <ion-item [disabled]="blockEdit">
          <ion-select
            formControlName="enfase"
            mode="md"
            label="Ênfase"
            placeholder="Selecionar"
            multiple="true"
            cancelText="Cancelar"
            okText="Confirmar"
          >
            <ion-select-option *ngFor="let item of listEnfase"
              >{{ item?.titulo }}</ion-select-option
            >
          </ion-select>
        </ion-item>
        <br />
        <ion-item [disabled]="blockEdit">
          <ion-input
            formControlName="series"
            label="Número de séries"
            labelPlacement="stacked"
            type="number"
            placeholder="00"
            minlength="0"
            maxlength="500"
          ></ion-input>
        </ion-item>
        <br />
        <ion-item [disabled]="blockEdit">
          <ion-input
            formControlName="repeticoes"
            label="Número de repetições"
            labelPlacement="stacked"
            type="number"
            placeholder="00"
            minlength="0"
            maxlength="500"
          ></ion-input>
        </ion-item>
        <br />
        <ion-item [disabled]="blockEdit">
          <ion-textarea
            formControlName="obs"
            label="Observações"
            labelPlacement="stacked"
            placeholder="Opcional..."
            minlength="0"
            maxlength="500"
          ></ion-textarea>
        </ion-item>
        <br />
      </form>
    </ion-card-content>
    <ion-card-content>
      <ion-row>
        <ion-button
          *ngIf="blockEdit == false || !form.controls['id'].valid"
          (click)="onClickSave()"
          [disabled]="!form.valid"
        >
          <ion-label color="light">Salvar</ion-label>
        </ion-button>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <br />
  <br />
  <br />
  <app-animation-list></app-animation-list>
</ion-content>
